body {
    font-size: 22px;
}
table {
    border-style: dashed;
    border-width: 2px;
    border-color: #E03952;
    border-collapse: separate;
    width: 70%;
    height: 300px;
}
td {
    border-style: dashed;
    border-width: 2px;
}
th {
    text-align: center;
    border-style: dashed;
    border-width: 2px;
}
tr {
    text-align: center;
    border-style: dashed;
    border-width: 2px;
}

tr.Cabeza{
    background-color: #FEF3CE;
    border-style: dashed;
    border-width: 2px;
}
tr.Cola{
    background-color: #FEF3CE;
    border-style: dashed;
    border-width: 2px;
}