.recreo{
    text-align: center;
}
.rojo{
    background-color: red;
}
.azul{
    background-color: dodgerblue;
}
.lila{
    background-color: mediumpurple;
}
.rosa{
    background-color: pink;
}
.verde{
    background-color: green;
}
.marron{
    background-color:saddlebrown;
}